#about{
    width: 100%;
    padding: 6rem;
    background: var(--white);
}
.about-wrapper{
    width: 100%;
    display: flex;
    gap: 5rem;
    align-items: stretch;
    padding: 5rem;
    background: var(--primary-color);
    flex-wrap: wrap;
    justify-content: center;
}
.about-wrapper > .col{
    max-width: 110rem;
    flex-grow: 1;
    position: relative;
}
.about-wrapper > .col > .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 4rem;
}
.about-wrapper > .col > .text > h2{
    font-size: 4rem;
    font-weight: 300;
    color: var(--white);
}
.about-wrapper > .col > .text >  p,
.about-wrapper > .col > .text >  p > a{
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Roboto";
    color: var(--white) !important;
    line-height: 3.5rem;
    padding-left: 4rem;
    text-align: center;
}
.about-wrapper > .col > .text >  p > a{
    padding: 0;
}
@media(max-width: 800px){
    .about-wrapper > .col{
        flex-basis: 100%;
    }
    .about-wrapper > .col:nth-child(2){
        height: 33rem;
    }
}
@media(max-width: 550px){
    .about-wrapper{
        padding: 3rem;
    }
    #about{
        padding: 3rem;
    }
}