footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    align-items: center;
}
footer > hr{
    width: 100%;
}
.f-top-wrapper{
    max-width: 90rem;
    flex-grow: 1 !important;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem 10rem;
    align-items: flex-start;
}
.f-top-wrapper > .address{
    width: fit-content;
    text-align: center;
}
.f-top-wrapper > .address > h5{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-color);
    font-family: "Roboto";
}
.f-top-wrapper > .address > p{
    font-family: "Roboto";
    font-size: 1.4rem;
    margin-top: 0.5rem;
    color: var(--black);
}


.f-top-wrapper > .contact > h5{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-color);
    font-family: "Roboto";
    line-height: 2.5rem;
}

.f-btm, .f-btm > a{
    text-align: center;
    font-size: 1.5rem;
    font-family: "Roboto";
    color: var(--primary-color);
    opacity: 0.8;
}
.f-btm > a{
    text-decoration: underline;
    opacity: 1;
}