footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    align-items: center;
    background: var(--primary-color);
}
.logo-f > a > img{
    width: 25rem;
}
footer > hr{
    width: 100%;
    height: 1px;
    border: none;
    background: var(--secondary-color);
}
.f-top-wrapper{
    max-width: 90rem;
    flex-grow: 1 !important;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem 10rem;
    align-items: flex-start;
}

.f-btm, .f-btm > a{
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto";
    color: var(--white);
    opacity: 0.9;
}
.f-btm > a{
    text-decoration: underline;
    opacity: 1;
}