@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
}
ul > li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
.container{
    max-width: 1600px;
    flex-grow: 1;
    margin: 0 auto;
    padding: 0 20px;
}


:root{
    --primary-color: #1B3B5F;
    --secondary-color: #DEDEDE;
    --white: #fff;
    --black: #222;

    --trans-1: all 0.3s ease-in-out;
}

@media(max-width: 1250px){
    html{
        font-size: 55%;
    }
}
@media(max-width: 1000px){
    html{
        font-size: 50%;
    }
}
@media(max-width: 900px){
    html{
        font-size: 45%;
    }
}