@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
}
ul > li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
.container{
    max-width: 1600px;
    flex-grow: 1;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper{
    width: 100%;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-bottom: 10rem;
}
.row{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.col-2{
    flex-basis: 50%;
    height: fit-content;
}
.wrapper > .row:nth-child(odd) > .col-2:nth-child(1),
.wrapper > .row:nth-child(even) > .col-2:nth-child(2){
    order: 0;
}
.wrapper > .row:nth-child(odd) > .col-2:nth-child(2),
.wrapper > .row:nth-child(even) > .col-2:nth-child(1){
    order: 1;
}
.text-box{
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box > .inner{
    max-width: 50rem;
}
.text-box >* h2{
    font-size: 3.5rem;
    color: var(--white);
    font-weight: 200;
    padding-bottom: 2rem;
}
.text-box >* p,
.text-box >* ul{
    font-size: 2rem;
    font-weight: 300;
    color: var(--white);
    line-height: 2.7rem;
    font-family: "Roboto";
}
.text-box >* ul > li{
    list-style: disc;
}
.img-box{
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.img-box > img{
    width: 100%;
}
:root{
    --primary-color: #1B3B5F;
    --secondary-color: #DEDEDE;
    --white: #fff;
    --black: #222;

    --trans-1: all 0.3s ease-in-out;
}

@media(max-width: 1250px){
    html{
        font-size: 55%;
    }
}
@media(max-width: 1000px){
    html{
        font-size: 50%;
    }
}
@media(max-width: 750px){
    .col-2{
        flex-basis: 100%;
    }
    .img-box{
        min-height: 40rem;
        max-height: 45rem;
    }
}
@media(max-width: 900px){
    html{
        font-size: 45%;
    }
}