header{
    width: 100%;
    padding: 2rem 0;
    background: var(--secondary-color);
}
.header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: fit-content;
}
.logo > a{
    display: flex;
    gap: 2rem;
    width: 100%;
}
.logo > a > img{
    width: 14rem;
}
.nav-list{
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: 300;
}
.nav-list > li{
    position: relative;
}
.sub-menu{
    position: absolute;
    z-index: 10;
    background: #ffffffce;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    transform: scaleY(0);
    opacity: 0;
    transition: var(--trans-1);
    padding: 10px 0;
    width: 200px;
    transform-origin: top;
}
.sub-menu.active{
    transform: scaleY(1);
    opacity: 1;
}
.sub-menu > a{
    flex-basis: 100%;
    display: flex;
}
.sub-menu > a{
    line-height: 35px;
    padding: 0 25px;
    color: var(--primary-color);
    transition: var(--trans-1);
    width: 100%;
}
.sub-menu > a:hover{
    background: var(--primary-color);
    color: var(--white);
}
.nav-list > li > a{
    color: var(--primary-color);
    transition: var(--trans-1);
    line-height: 30px;
}
.nav-list > li > a:hover,
.nav-list > li.active > a{
    color: var(--white);
}
.call-btn{
    border: 2px solid transparent;
    padding: 5px 25px;
    color: var(--white) !important;
    background: var(--primary-color) !important;
    transition: var(--trans-1);
    position: relative;
}
.call-btn > span{
    position: absolute;
    width: 15rem;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: var(--primary-color);
}
.call-btn:hover{
    color: var(--primary-color) !important;
    background: transparent !important;
    border: 2px solid var(--primary-color) !important;
}
.nav-btn{
    border: none;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.nav-close{
    color: var(--white);
}
.nav-open{
    color: var(--white);
    opacity: .7;
}

@media(max-width: 880px){
    .nav-body{
        position: fixed;
        top: -100%;
        left: 0;
        background: var(--primary-color);
        width: 100%;
        height: 100%;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--trans-1);
    }
    .nav-body.active{
        top: 0;    }
    .nav-list{
        flex-direction: column;
        align-items: center;
    }
    .nav-list > li > a{
        color: var(--secondary-color);
    }
    .nav-btn{
        display: block;
    }
    .nav-close{
        position: absolute;
        top: 25px;
        right: 25px;
    }
    .call-btn{
        color: var(--primary-color) !important;
        background: var(--white) !important;
    }
    .call-btn:hover{
        color: var(--white) !important;
        background: transparent !important;
        border: 2px solid var(--white) !important;
    }
}

@media(max-width: 600px){
    .logo > a > img{
        width: 10rem;
    }
}