header{
    width: 100%;
    padding: 2rem 0;
    background: var(--secondary-color);
}
.header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 240px;
}
.logo > a{
    width: 100%;
}
.logo > a > img{
    width: 100%;
}
.nav-list{
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: 300;
}
.nav-list > li > a{
    color: var(--primary-color);
    transition: var(--trans-1);
}
.nav-list > li > a:hover,
.nav-list > li.active > a{
    color: var(--white);
}

.nav-btn{
    border: none;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.nav-close{
    color: var(--white);
}
.nav-open{
    color: var(--white);
    opacity: .7;
}

@media(max-width: 880px){
    .nav-body{
        position: fixed;
        top: -100%;
        left: 0;
        background: var(--primary-color);
        width: 100%;
        height: 100%;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--trans-1);
    }
    .nav-body.active{
        top: 0;    }
    .nav-list{
        flex-direction: column;
        align-items: center;
    }
    .nav-list > li > a{
        color: var(--secondary-color);
    }
    .nav-btn{
        display: block;
    }
    .nav-close{
        position: absolute;
        top: 25px;
        right: 25px;
    }
}