.hero-wrapper{
    position: relative;
    width: fit-content;
    height: fit-content;
    z-index: 3;
}
.hero-wrapper > .content{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #22222264;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-wrapper > .content > .img{
    max-width: 55rem;
}
.hero-wrapper > .content > .img > img{
    width: 100%;
}
.hero-wrapper > .content > p{
    font-size: 3rem;
    color: var(--white);
    font-weight: 100;
    opacity: 0.9;
}