#location{
    width: 100%;
    padding: 5rem 0;
    background: var(--secondary-color);
}
.location-wrapper{
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 4rem 0;
}
.location-wrapper > .col{
    flex-basis: calc((100% / 2));
    display: flex;
    background: var(--white);
}
.location-wrapper > .col:nth-child(1){
    justify-content: center;
}
.location-wrapper > .col > .text{
    width: fit-content;
    background: var(--white);
    padding: 7rem 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.location-wrapper > .col > .text > h3{
    font-size: 4rem;
    font-weight: 300;
    color: var(--primary-color);
}
.location-wrapper > .col > .text > .field{
    margin-bottom: 2.5rem;
}
.location-wrapper > .col > .text > .field:last-child{
    margin-bottom: 0;
}
.location-wrapper > .col > .text > .field > h5{
    font-size: 2.2rem;
    font-family: "Roboto";
    font-weight: 400;
    color: var(--black);
}
.location-wrapper > .col > .text > .field > p{
    font-size: 1.6rem;
    font-family: "Roboto";
    font-weight: 400;
    color: var(--black);
    margin-top: 0.5rem;
    padding: 0 4rem;
    opacity: 0.8;
}
.location-wrapper > .col > .map{
    width: 100%;
}
.location-wrapper > .col > .map > iframe{
    width: 100%;
    height: 100%;
}