#location{
    width: 100%;
    padding: 5rem 0;
    background: var(--secondary-color);
}
.location-wrapper{
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 4rem 0;
}
.location-wrapper > .col{
    flex-basis: calc((100% / 2));
    display: flex;
    background: var(--white);
}
.location-wrapper > .col:nth-child(1){
    justify-content: center;
}
.location-wrapper > .col > .text{
    width: fit-content;
    background: var(--white);
    padding: 7rem 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.location-wrapper > .col > .text > h3{
    font-size: 4rem;
    font-weight: 300;
    color: var(--primary-color);
}
.location-wrapper > .col > .text > .field{
    padding-top: 2rem;
    display: flex;
    gap: 4rem 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.location-wrapper > .col > .text > .field:last-child{
    margin-bottom: 0;
}
.location-wrapper > .col > .text > .field > .location{
    flex-basis: 27rem;
}
.location-wrapper > .col > .text > .field > * h5{
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}
.location-wrapper > .col > .text > .field > * h5,
.location-wrapper > .col > .text > .field > * p{
    font-family: "Roboto";
    font-weight: 400;
    color: var(--black);
    opacity: 0.8;
}
.location-wrapper > .col > .text > .field > * p{
    font-size: 1.6rem;
}
.location-wrapper > .col > .map{
    width: 100%;
    align-self: center;
}
.location-wrapper > .col > .map > img{
    width: 100%;
}

@media(max-width: 550px){
    
    .location-wrapper{
        flex-wrap: wrap;
        gap: 0;
        padding: 0 3rem;
    }
    .location-wrapper > .col{
        flex-basis: 100%;
    }
    .location-wrapper > .col:nth-child(2) > .map{
        min-height: 37rem;
    }
}