#our-promise{
    width: 100%;
    height: fit-content;
    padding: 4rem;
    background: var(--white);
}

.our-promise-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--primary-color);
}
.our-promise-wrapper > .col{
    flex-basis: 50%;
}
.our-promise-wrapper > .col > .img{
    width: 100%;
    height: 100%;
}
.our-promise-wrapper > .col > .img > img{
    width: 100%;
}
.our-promise-wrapper > .col:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
.promise-btn{
    color: var(--primary-color);
    background: var(--white);
    padding: 1rem 2rem;
    font-size: 2rem;
    font-family: "Roboto";
    border-radius: 0.5rem;
    border: 0.2rem solid transparent;
    transition: var(--trans-1);
    font-weight: 500;
    margin: 5rem;
}
.promise-btn:hover{
    border: 0.2rem solid var(--white);
    background: transparent;
    color: var(--white);
}
@media(max-width: 800px){
    .our-promise-wrapper{
        flex-wrap: wrap;
    }
    .our-promise-wrapper > .col{
        flex-basis: 100%;
    }
    .our-promise-wrapper > .col > .img{
        width: 100%;
        max-height: 45rem;
        overflow: hidden;
    }
    .our-promise-wrapper > .col > .text{
        margin: 0 auto;
        max-width: 60rem;
        margin-top: 3rem;
        text-align: center;
    }
}