#our-promise{
    width: 100%;
    height: fit-content;
    padding: 4rem;
    background: var(--white);
}

.our-promise-wrapper{
    width: 100%;
    display: flex;
    align-items: stretch;
    background: var(--secondary-color);
}
.our-promise-wrapper > .col{
    flex-basis: 50%;
}
.our-promise-wrapper > .col > .img{
    width: 100%;
    height: 100%;
}
.our-promise-wrapper > .col > .img > img{
    width: 100%;
    height: 100%;
}
.our-promise-wrapper > .col:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-promise-wrapper:last-child{
    display: flex;
    align-items: stretch;
}
#contact-home{
    flex-basis: 100%;
}
#contact-home > form{
    background: var(--secondary-color);
}
@media(max-width: 800px){
    .our-promise-wrapper{
        flex-wrap: wrap;
    }
    .our-promise-wrapper > .col{
        flex-basis: 100%;
    }
    .our-promise-wrapper > .col > .img{
        width: 100%;
        max-height: 45rem;
        overflow: hidden;
    }
}