#our-promise{
    width: 100%;
    height: fit-content;
    padding: 4rem;
    background: var(--white);
}

.our-promise-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--primary-color);
}
.our-promise-wrapper > .col{
    flex-basis: 50%;
}
.our-promise-wrapper > .col > .img{
    width: 100%;
    height: 100%;
}
.our-promise-wrapper > .col > .img > img{
    width: 100%;
}
.our-promise-wrapper > .col > .text{
    max-width: 50rem;
    padding: 5rem 5rem 5rem 2.5rem;
    background: var(--white);
}
.our-promise-wrapper > .col > .text > h2{
    font-size: 4rem;
    font-weight: 200;
    color: var(--primary-color);
}
.our-promise-wrapper > .col > .text > p{
    font-size: 1.6rem;
    font-weight: 300;
    font-family: "Roboto";
    color: var(--black);
    opacity: 0.8;
    line-height: 2.7rem;
}
.our-promise-wrapper > .col > .text > p > b{
    font-weight: 400;
}