#slider{
    width: 100%;
    background: url(/img/slider-bg.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 2;
}
#slider::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000047;
    z-index: -1;
}
.slider-wrapper{
    padding: 7rem 10rem;
}
.slides{
    width: 100%;
    min-height: 35rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}
.slide > .content{
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    margin: 0 auto;
}
.slide > .content > h4{
    font-size: 3rem;
    font-weight: 400;
    color: var(--primary-color);
}
.slide > .content > p{
    font-size: 2.4rem;
    font-weight: 200;
    color: var(--white);
}

#slider * .slick-arrow{
    background: transparent;
    height: 5rem;
    border: none;
    color: transparent;
    width: 3rem;
    position: relative;
    cursor: pointer;
    transition: var(--trans-1);
}
#slider * .slick-arrow:hover{
    opacity: 0.4;
}
#slider * .slick-prev::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(/img/right.png);
    width: 100%;
    height: 100%;
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center center;
}
#slider * .slick-next::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(/img/left.png);
    width: 100%;
    height: 100%;
    background-size: fill;
    background-repeat: no-repeat;
}
@media(max-width: 600px){
    .slider-wrapper{
        padding: 2rem 4rem;
    }
    .slide > .content{
        display: flex;
        flex-direction: column;
        max-width: 90rem;
    }
}